#words {
    display: flex;
    flex-direction: column;
}
#words .item {
    display: flex;
    align-items: stretch;
}
#words .elem {
    width: 50%;
    padding: 10px 0;
    float: left;
    display: flex;
    align-items: center;
}
#words .elem:first-child {
    padding-right: 10px;
}
#words .elem > div:first-child {
    flex-grow: 1;
    height: 100%;
}
#words .elem > div:last-child {
    white-space: nowrap;
}
#words .elem .btn i {
    margin: 0;
}
#words .elem .btn span {
    display: none;
}
#words .elem .btn {
    float: left;
    margin-left: 10px;
    padding: 8px 12px;
}
#words textarea {
    height: 100%;
}
#words textarea::-webkit-input-placeholder {
    color: var(--bs-success) !important;
}
#words textarea::-moz-placeholder { /* Firefox 19+ */
    color: var(--bs-success) !important;
}

.translation-confirm-approved {
    visibility: hidden;
}

#translation-editor .pre {
    display: block;
    padding: 9.5px;
    margin: 0;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 56px;
}

.translation-wallentry-content .detail-view th,
#translation-history .detail-view th{
    width: 15%;
    font-weight: bold;
    color: #777;
}

#translation-history .detail-view td {
    width: 85%;
}

.translation-wallentry-content .translation_old {
    color: #dd0000;
    font-style: italic;
}

.translation-wallentry-content .translation_message {
    font-style: italic;
}

.translation-wallentry-content .translation_new {
    color: #22ba00;
    font-style: italic;
}

.translation-editor-filter {
    background-color: #f7f7f7;
    padding: 10px;
    border-top:1px solid #ddd;
}

#translation-editor-translations .form-search {
    width: 310px;
}

@media screen and (max-width: 768px) {
    #words > div:first-child {
        display: none;
    }
    #words .item {
        flex-direction: column;
        padding-bottom: 40px;
    }
    #words .elem {
        width: 100%;
        flex-direction: column;
        padding: 8px 0 0 0;
    }
    #words .elem:first-child {
        padding: 0;
    }
    #words .elem > div {
        width: 100%;
    }
    #words .elem > div:first-child {
        margin-bottom: 8px;
    }
    #words .elem > div:last-child {
        display: flex;
    }
    #words .elem .btn {
        width: 100%;
        margin-left: 0;
    }
    #words .elem .btn:last-child:not(:first-child) {
        margin-left: 10px;
    }
    #words .elem .btn i {
        margin-right: 4px;
    }
    #words .elem .btn i.fa-arrow-right {
        transform: rotate(90deg);
    }
    #words .elem .btn span {
        display: inline;
    }
    .translation-confirm-approved {
        display: none;
    }
}
